@using LedgerBook.ViewModels;
@model ResetPasswordVM;
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    ViewData["Title"] = "Reset Password";
}

<div class="front">
    <div class="front-left"></div>
    <div class="front-right">
        <div class="login-card1">

            <h2><b>Reset password</b></h2>
            <form id="resetpassword-form-id" class="login-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Email" type="hidden" id="resetpassword-email" />
                <input asp-for="ResetPasswordToken" type="hidden" id="resetpassword-token" />


                <div class="form-floating mb-4 position-relative">
                    <input asp-for="Password" type="password" id="resetpassword-password"
                        class="form-control border border-dark w-100 h-100" placeholder="Password*" required />
                    <i class="bi bi-eye-slash-fill position-absolute translate-middle-y fs-4 me-3"
                        onclick="toggle_fnction('togglePassword','resetpassword-password')" id="togglePassword"
                        style="top: 22px; right: 0px;"></i>
                    <label for="resetpassword-password" class="form-floating text-dark  text-left">Password*</label>
                    <span asp-validation-for="Password" class="d-flex justify-content-start text-danger "
                        id="passwordValidationMessage"></span>
                </div>

                <div class="form-floating mb-4 position-relative">
                    <input asp-for="ConfirmPassword" type="password" id="resetpassword-confirmPassword"
                        class="form-control border border-dark w-100 h-100" placeholder="Confirm Password*" required />
                    <i class="bi bi-eye-slash-fill position-absolute translate-middle-y fs-4 me-3"
                        onclick="toggle_fnction('togglePassword1','resetpassword-confirmPassword')" id="togglePassword1"
                        style="top: 22px; right: 0px;"></i>
                    <label for="resetpassword-confirmPassword" class="form-floating text-dark  text-left">Confirm
                        Password*</label>
                    <span asp-validation-for="ConfirmPassword" class="d-flex justify-content-start text-danger "
                        id="confirmPasswordValidationMessage"></span>
                </div>

                <div class="d-grid">
                    <input value="Reset password" class="login-btn btn btn-primary fs-5  pt-2 pb-2 w-100 "
                        type="submit" />
                </div>

            </form>

        </div>


    </div>
</div>



@section Scripts {
    <script>

        function ValidateResetPasswordToken() {
            let resetPasswordToken = $("#resetpassword-token").val();
            $.ajax({
                url: `${BASE_URL}/Login/ResetPassword`,
                type: "GET",
                contentType: "application/x-www-form-urlencoded",
                processData: true,
                data: $.param({ resetPasswordToken }),
                success: function (response) {
                    if (!response.isSuccess) {
                        const toaster = {
                            isSuccess: response.isSuccess,
                            toasterMessage: response.toasterMessage
                        };
                        localStorage.setItem('Toaster', JSON.stringify(toaster));
                        window.location = "/Login/Login"
                    }else{
                        $("#resetpassword-email").val(response.result)
                    }

                }, error: function (response) {
                    console.log(response);
                    @* const toaster = {
                        isSuccess: response.isSuccess,
                        toasterMessage: response.toasterMessage
                    };
                    localStorage.setItem('Toaster', JSON.stringify(toaster));
                    window.location = "/Login/Login" *@

                    }
            })
        }

        $(document).ready(function () {

            ValidateResetPasswordToken();

            $(document).on("submit", "#resetpassword-form-id", function (e) {
                e.preventDefault();
                console.log("hiii")
                let form = $("#resetpassword-form-id")
                console.log(this)
                if (form.valid()) {
                    let formData = new FormData();
                    formData.append("Email", $("#resetpassword-email").val())
                    formData.append("Password", $("#resetpassword-password").val())
                    formData.append("ConfirmPassword", $("#resetpassword-confirmPassword").val())

                    console.log(formData)
                    $.ajax({
                        url: `${BASE_URL}/Login/ResetPasswordAsync`,
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (response) {
                            console.log(response)
                            if (response.isSuccess) {
                                const toaster = {
                                    isSuccess: response.isSuccess,
                                    toasterMessage: response.toasterMessage
                                };
                                localStorage.setItem('Toaster', JSON.stringify(toaster));
                                window.location = "/Login/Login"
                            } else {
                                Toaster(response.toasterMessage, "error");
                            }
                        },
                        error: function (response) {
                            Toaster(response.responseJSON.toasterMessage, "error");
                            console.log("error", response.responseJSON);
                        }
                    })
                }
            })
        })

    </script>

    <partial name="_ValidationScriptsPartial" />
    <partial name="_Toaster" />
}